<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/flights" method="POST">
      <label for="airline-input">Airline:</label>
      <input type="text" name="airline" id="airline-input">

      <label for="airport">Airport:</label>
      <select name="airport" id="airport-input">
          <option value="DEN">DEN</option>
          <option value="AUS">AUS</option>
          <option value="DFW">DFS</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
      </select>
      
      <label for="flight-number">Flight Number:</label>
      <input type="number" name="flightNumber" id="flight-number-input">

      <label for="departure-input">Departs:</label>
      <input type="datetime-local" name="departs" id="date-input">
      
      <button type="submit">Add Flight</button>
    </form>
  </main>

<%- include("../partials/footer") %>